body {
  background-color: #FAFAF5;
}

.jumbotron {
    background: url('img/cover_photo.png') no-repeat center center;
    background-position: relative;
    background-size: contain;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 0px;
}

/*The Medallion class and id allows the medallion to sit on top of the jumbotron*/
/*BUG NOTE: This part of the CSS causes the homepage to extend far to the right*/
#medallion {
    background-image: url('img/cover_photo.png') no-repeat center center;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -253px;
    width: 100%
}

.medallion img {
    max-width: 100%;
    height: auto;
}

.container {
	font-family: sans-serif;
	color: #3C2528;
}

.main-info h3 {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
  padding-bottom: 3%;
}

ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
}

#buttons li {
  list-style: none;
  text-align: center;
  background-color: #ceceaf;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
  border-radius: 30px;
}

#buttons li a {
  text-decoration: none;
  color: #3C2528;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: #3C2528;
  background-color: #f7f7f7;
}