#find-scab .column {
  float: left;
  width: 50%;
  height: 500px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#find-scab #left {
  background-color: #ede6d0;
  border-radius: 50%;
}

#find-scab #right {
  position: relative;
  background-image: url("img/find_scab_background.png");
  background-size: cover;
}

#find-scab .row:after {
  content: "";
  display: table;
  clear: both;
}

#find-scab label, input {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 30%;
}

#find-scab input {
  border-radius: 40px;
}

#find-scab .btn-menu {
  font-size: 30px;
}

#find-scab #scabProfile {
  background-color: #6b8bff;
  height: 350px;
  width: 230px;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  border: 1px solid blue;
}

#scabImage {
  display: block;
  text-align: center;
  padding-top: 5px;
  margin: auto;
  width: 200px;
}

#find-scab #scabProfile p {
  background-color: #96adff;
  border-radius: 10px;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
}