body {
  background-color: #314f3c;
  font-family: Helvetica;
}

.overhead {
  z-index: 3;
}

.container {
  padding: 0.01em 16px;
}

#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 10px;
  max-width: 100%;
  min-width: 40%;
  transform: scale(1,1);
  animation: excited .8s linear infinite;
}

@keyframes excited {
  0%   {transform: scale(1,1);}
  50%  {transform: scale(1.03,.97);}
  100% {transform: scale(1,1);}
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-menu {
  background-color: green;
  border-color: green;
  border-radius: 40px;
  font-size: 40px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn-menu:hover {
  background-color: #009e00;
  border-color: #009e00;
  border-radius: 40px;
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

.btn:focus, 
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, 
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active, 
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, 
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, 
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.display-topleft {
  position:absolute;
  z-index: 3;
  margin: 10px;
  left:0;
  top:0;
}

.display-topright {
  position:absolute;
  z-index: 4;
  margin: 10px;
  right:0;
  top:0;
}

.profile-view {
  background-color: green;
  height: 40px;
  width: 200px;
  border-radius: 50px;
}

.overhead img {
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  float: right;
}