.background {
  position:absolute;
  z-index: -2;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:url('img/grass.png') 0 0 , 
    url('img/trees.png') 40% 0, 
    url('img/trees_back.png') 80% 0, #000;
  background-repeat: repeat-x;
  background-position: center bottom;
  -webkit-animation: moving-images 400s linear infinite;
     -moz-animation: moving-images 400s linear infinite;
       -o-animation: moving-images 400s linear infinite;
          animation: moving-images 400s linear infinite;
}

@keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-moz-keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-webkit-keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}
@-o-keyframes moving-images {
  0%   {left:0;}
  50%  {left:-9999px;}
  100% {left:0;}
}