body {
  background-color: #96ddfe;
}

.jumbotron {
  background: url('img/jumbo.png') no-repeat center center;
  background-position: relative;
  background-size: contain;
  margin-bottom: 0;
}

.nav ul {
  list-style: none;
  background-color: #133f63;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #96ddfe;
  color: black;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

#com-btn {
  display: block; 
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

#myModal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   padding-top: 8px;
   width: 100%;
   background-color: #96ddfe;
   color: black;
   text-align: center;
}