p, a {
    display: block; 
    margin: 0 auto;
    text-align: center;
}

#game-btn {
  	display: block; 
  	margin: 0 auto;
  	text-align: center;
  	margin-top: 10px;
  	margin-bottom: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50% 0;
    height: auto;
    width: 50%;
    -webkit-animation: spinner 6s infinite linear;
}

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    } 
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

.column {
    float: left;
    width: 20%;
}

.column-mid {
    float: left;
    width: 60%;
}

.row:after {
    content: "";
    clear: both;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: black;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

h4 {
    padding-top: 10px;
    text-align: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#controls {
    display: inline-grid;
    grid-column-gap: 0;
    align-self: end;
}

.movements_control {
    border: solid 1px black;  
    margin: 0;
    padding: 0;
}

.movements_control img {
    width: inherit;
    height: inherit;
}

#keyboard_key_up {
    grid-column-start: 2;
}

#keyboard_key_left {
    grid-column-start: 1;
}

#keyboard_key_down {}

#keyboard_key_right {
    grid-column-start: 3;
}

@media (min-width: 721px) {
    .movements_control {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 720px) {
    .movements_control {
        width: 20px;
        height: 20px;
    }
}